#general-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row, .mini-row {
    display: flex;
}
.square {
    border: 1px solid black;
}
.mini-square {
    width: 10px;
    height: 10px;
}
.active {
    background-color: #4c4c5f;
}

.list-element {
 display: flex;
}
.list-element label {
    font-weight: 800;
}
#available-shifts {
    display: flex;
    justify-content: space-between;
    font-size: 48px;
}

#available-shifts .current {
    text-shadow: 2px 2px 8px #2BCDF3;
}

#available-shifts > div {
    flex-direction: column;
    display: flex;
    align-items: center;
}
#available-shifts * {
    cursor: pointer;
}
.mini-matrix {
    border: 1px solid;
}