:root {
    --background-color-base: #1e1e1f;
    --background-color: #313031;
    --soft-background-color: #8e8e8e;
    --shadow-ligh: #f8f8f8;
    --color: #f8f8f8;
    --accent-color: #e9d2b0;
    --active-lamp: #f8f8f8;
    --active-lamp-label: #1e1e1f;
    --tab-border-radius: 3px;
    --tab-active-background-color: #403f40;
    --shadow-general-container: inset 0px 0px 3px 0px #000000, 0px -2px 2px -1px #000000, -2px 0px 2px -2px #0f0d0c, 2px 0px 2px -2px #0f0d0c, 0px 2px 2px -2px #ebe6e4;
    --shadow-up: 0px 0px 8px 0px var(--background-color-base);
    --selected: orange;
}

body {
    background-color: var(--background-color-base);
    color: var(--color);
}

h1 {
    text-align: center;
}
#general-info {
    display: flex;
    justify-content: space-between;
    min-height: 600px;
}
#matrix-drawing {
    user-select: none;
    border: 1px solid black;
    height: fit-content;
    flex: 1;
    grid-area: matrixDrawing;
    margin: auto;
}
.row, .mini-row {
    display: flex;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    min-width: 40px;
}
.square.active label {
    color: var(--active-lamp-label);
}
.square label {
    pointer-events: none;
}
.mini-square {
    width: 10px;
    height: 10px;
}
.active {
    background-color: var(--active-lamp);
}

.list-element {
 display: flex;
}
.list-element label {
    font-weight: 800;
}
#available-shifts {
    background-color: var(--tab-active-background-color);
    display: flex;
    justify-content: space-between;
    font-size: 48px;
    font-weight: bold;
    box-shadow: var(--shadow-general-container), inset 0px -4px 2px 0px var(--background-color-base);
    padding: 12px;
}

#available-shifts .current {
    color: var(--background-color-base);
    background-color: var(--selected);
    box-shadow: 0px 0px 3px 0px #000000, 0px -2px 2px -1px #000000, -2px 0px 2px -2px #0f0d0c, 2px 0px 2px -2px #0f0d0c, 0px 2px 2px -2px #ebe6e4;
}
.shift-control {
    border-radius: var(--tab-border-radius);
    box-shadow: inset 0px 0px 3px 0px #000000, 0px -2px 2px -1px #000000, -2px 0px 2px -2px #0f0d0c, 2px 0px 2px -2px #0f0d0c, 0px 2px 2px -2px #ebe6e4;
    padding: 12px;
}

#available-shifts > div {
    flex-direction: column;
    display: flex;
    align-items: center;
}
#available-shifts * {
    cursor: pointer;
}
.mini-matrix {
    border: 1px solid;
}

#binary-representation {
    position: relative;
}

#segmented-display-controller {
    flex: 1;
}

#matrix-container {
    display: grid;
    max-height: 800px;
    grid-template-columns: 25px auto;
    grid-template-rows: 25px auto;
    grid-template-areas:
    "none sliderColumns"
    "sliderRows matrixDrawing" ;
}
#slider-columns {
    grid-area: sliderColumns;
}

#slider-rows {
    grid-area: sliderRows;
}
#matrix-size-overlay {
    grid-area: matrixDrawing;
    background-color: var(--tab-active-background-color);
    color: var(--color);
    justify-content: center;
    align-content: center;
    display: flex;
    font-size: 128px;
}

.hidden {
    display:  none !important;
}

#matrix-size-overlay > span:nth-child(1) {
    align-items: center;
    display: flex;
}
.exponential-label {
    font-size: 8px;
    line-height: baseline;
    height: 10px;
}

nav {
    display: flex;
    width: 100%;
}
nav ul {
    margin: 0;
    transform: translateY(2px);
}

nav ul,li {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    display: flex;
    width: 100%;
    align-items: center;
}

nav li {
    padding: 20px;
    cursor: pointer;
    border-radius: var(--tab-border-radius);
    background-color: var(--soft-background-color);
    /* box-shadow: inset -1px 1px 3px -1px var(--background-color), inset 1px 1px 3px -1px var(--background-color); */
    
}
nav li:first-child {
    box-shadow:  inset 4px 4px 2px 0px var(--background-color-base);
}
nav li:last-child {
    box-shadow:  inset -4px 4px 2px 0px var(--background-color-base);
}

nav li.current {
    background-color: var(--tab-active-background-color);
    color: var(--accent-color);
}

.menu {
    margin-top: 12px;
    background-color: var(--background-color);
    padding: 12px;
    box-shadow: 0px 0px 4px 3px black;
    border-radius: var(--tab-border-radius);
}
section {
    background-color: var(--background-color);
    flex: 1 0;
    border-radius: var(--tab-border-radius);
    box-shadow: inset 0px 0px 3px 0px #000000, 0px -2px 2px -1px #000000, -2px 0px 2px -2px #0f0d0c, 2px 0px 2px -2px #0f0d0c, 0px 2px 2px -2px #ebe6e4;
    padding: 12px;
}
#general-info {
    background-color: var(--tab-active-background-color);
    padding: 12px;
    gap: 12px;
    box-shadow: var(--shadow-general-container);
}


#tools {
    display: grid;
    grid-template-rows: 40px 40px auto;
    grid-template-areas:
    "export import" 
    "lamp-type-label lamp-type"
    "blueprint blueprint";
}

#tools button {
    background-color: #313131;
    box-shadow: inset 0px -4px 0.5px -2px #121212, inset 5px 0px 2px -2.5px #1f1f1f, inset -3px 0px 1px -1.5px #292929, inset 0px 4px 1px -2px #515050;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    font-weight: 600;
    display: inline-block;
    padding: 8px 12px 8px 12px;
    color: #a7a7a7;
    white-space: nowrap;
    
}
#tools button:hover {
    color: #604814;
    background-color: #ffa900;
    box-shadow: inset 0px -4px 0.5px -2px #3e2200, inset 5px 0px 2px -2.5px #ff9d02, inset -3px 0px 1px -1.5px #a46200, inset 0px 4px 1px -2px #c08d44, 0px 0px 4px 2px #805c10;
    text-decoration: none;
}

#lamp-type-label {
    grid-area: lamp-type-label;
    display: flex;
    align-items: center;
    height: 100%;
    vertical-align: center;
}

#import {
    grid-area: import;
}
#export {
    grid-area: export;
}

#blueprint-input {
    grid-area: blueprint;
    vertical-align: baseline;
    font-family: inherit;
    line-height: 1.2;
    font-size: 105%;
    max-width: 100%;
    background: #8e8e8e;
    border-radius: 4px;
    padding: 6px;
    border: none;
    box-shadow: inset 0px 4px 1px -2px #000,inset 0px -4px 1px -2px #c5c5c5,inset 2px 0px 1px 0px #5f5f5f,inset -2px 0px 1px 0px #5f5f5f,inset 0px -2px 2px 0px #5f5f5f,0px 0px 4px 1px #2e2521;
}


#blueprint-input:focus {
    background: #f0dab4;
    box-shadow: inset 0px 4px 2px -2px #000,inset 0px -1px 1px 0px #74624b,inset 0px -4px 2px -2px #e0e0e0,inset 2px 0px 2px 0px #a6885c,inset -2px 0px 2px 0px #a6885c,0px 0px 4px 1px #2e2521;
}